<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
	
<head th:fragment="head">

<meta charset="UTF-8" />
<title th:text="'Fonoaudiología'"></title>
<!-- <link rel="stylesheet" th:href="@{/css/cards.css}"/> -->

<link rel="stylesheet" th:href="@{/css/botones.css}" />
<link rel="stylesheet" type="text/css" href="/css/modal.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/map.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/navbar.css}" />
<link rel="stylesheet" th:href="@{/css/croppie.css}" />
<link rel="shortcut icon" th:href="@{/images/logoCorto.png}" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<link rel="shortcut icon" th:href="@{/images/logoCorto.png}"/>
</head>
<body>
		<div class="wrapper">
		<header th:fragment="header">
			<nav>
				<div class="menu-icon">
					<i class="fa fa-bars fa-2x"></i>
				</div>
				<a role="button" th:href="@{/inicio/}"><img class="logo" th:src="@{/images/logoCompleto.png}"></img></a>
				<div class="menu">
				
					<ul>
						<li sec:authorize="hasAnyRole('ROLE_PACIENTE')"><a
							th:href="@{'/paciente/ver/'+${usuarioId}}">Mi perfil</a></li>
						<li sec:authorize="hasAnyRole('ROLE_TERAPEUTA')"><a
							th:href="@{'/turno/turnosTerapeuta/'+${terapeutaId}}">Mis turnos</a></li>
						<li sec:authorize="hasAnyRole('ROLE_TERAPEUTA')"><a
							th:href="@{'/paciente/listar/'+${terapeutaId}}">Mis pacientes</a></li>
						<li sec:authorize="hasRole('ROLE_ADMINISTRADOR')"><a
							th:href="@{/terapeuta/listar}">Terapeutas</a></li>
						<li sec:authorize="hasRole('ROLE_ADMINISTRADOR')"><a
							th:href="@{/turno/listar}">Turnos</a></li>
						<li sec:authorize="hasRole('ROLE_ADMINISTRADOR')"><a
							th:href="@{/usuario/listar}">Usuarios</a></li>
						<li sec:authorize="isAuthenticated()" class="dropdown">
						<a
							href="#" th:replace="modal/logout :: modal" role="button">
						</a>
						</li>
					</ul>
				</div>
				<div id="mensajeAlerta">
				<div class="alert alert-success" th:if="${success != null}"
				th:text="${success}"></div>
			<div class="alert alert-danger" th:if="${error != null}"
				th:text="${error}"></div>
			<div class="alert alert-warning" th:if="${warning != null}"
				th:text="${warning}"></div>
			<div style="z-index:-1;" class="alert alert-info" th:if="${info != null}"
				th:text="${info}"></div></div>
			</nav>
			
		</header>
		<div class="content"></div>
	</div>
		
	</header>
	<footer th:fragment="footer">
	<hr />
	<div class="container">
		
		<!-- 		INSERTAR IMAGEN -->
		<!-- 		<img th:src="@{/images/yo.jpg}" width="100" height="100" -->
		<!-- 			alt="Spring logo" /> -->
		<!-- 		<p> -->
		<p sec:authorize="isAuthenticated()">
			<!-- 		principal authorities muestra los roles del usuario name -->
			Usuario logeado: <span sec:authentication="name"></span> | Roles: <span
				sec:authentication="principal.authorities"></span>
		</p>

		<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
		<script
			src="https://kendo.cdn.telerik.com/2018.2.620/js/kendo.all.min.js"></script>
		<script th:src="@{/js/confirmpassword.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
		<script th:src="@{/js/croppie.js}"></script>
		
		<script>
			$(document).ready(function() {
				$(".menu-icon").on("click", function() {
					$("nav ul").toggleClass("showing");
				});
			});

			// Scrolling Effect

			$(window).on("scroll", function() {
				if ($(window).scrollTop()) {
					$('nav').addClass('black');
				}

				else {
					$('nav').removeClass('black');
				}
			})
			
			$(function () { 
  	  var duration = 3000; // 3 seconds
    	setTimeout(function () { $('#mensajeAlerta').hide(); }, duration);
		});
		</script>
		</div>
	</footer>
</body>
</html>








