<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:fragment="head">
<title>Terapia de lenguaje en Puebla</title>
<meta name="keywords" content="terapia, lenguaje, fonoaudiologia"/>
<meta name="description" content="Centro de terapia de lenguaje: tratamos las diferentes dificultades presentadas del habla. Para todas las edades. Ubicados en Puebla, México."/>
<link rel="stylesheet" th:href="@{/css/botones.css}" />
<link rel="stylesheet" type="text/css" href="/css/modal.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/map.css}" />
<!-- <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" /> -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/navbar.css}" />
<link rel="stylesheet" th:href="@{/css/cards.css}" />
<link rel="shortcut icon" th:href="@{/images/logoCorto.png}" />

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<style>
.text {
	position: fixed;
}

@media ( max-width : 880px) {
	.text {
		text-transform: lowercase; 
		text-align: center;
		font-size: 140%;
		font-weight:bold;
		padding-top:510px;
		right: 68%;
		top: 190%;
		width: 100%;
		height: 100vh;
		color: white;
		animation: type 4s linear forwards;
		font-family: cursive;
		letter-spacing: 0.2rem;
		opacity: 0;
 		position: initial; 
 		padding-left: 1rem;
    	padding-right: 1rem;
	}
	
}


@media ( max-width : 370px) {
	.text {
		font-size: 1.4rem;
		text-align: center;
		width: 100%;
		padding-top: 400px;
	}
}
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}
</style>
</head>
<footer th:fragment="footer">
	<script>
		$(document).ready(function() {
			$(".menu-icon").on("click", function() {
				$("nav ul").toggleClass("showing");
			});
		});

		// Scrolling Effect

		$(window).on("scroll", function() {
			if ($(window).scrollTop()) {
				$('nav').addClass('black');
			}

			else {
				$('nav').removeClass('black');
			}
		})
	</script>
	<script>
		$(document).ready(function() {
			$(".menu-icon").on("click", function() {
				$("nav ul").toggleClass("showing");
			});
		});

		// Scrolling Effect

		$(window).on("scroll", function() {
			if ($(window).scrollTop()) {
				$('nav').addClass('black');
			}

			else {
				$('nav').removeClass('black');
			}
		})
		$(function() {
			var duration = 3000; // 3 seconds
			setTimeout(function() {
				$('#mensajeAlerta').hide();
			}, duration);
		});
	</script>
	<script>
		$(document).ready(function() {
			$(".menu-icon").on("click", function() {
				$("nav ul").toggleClass("showing");
			});
		});

		// Scrolling Effect

		$(window).on("scroll", function() {
			if ($(window).scrollTop()) {
				$('nav').addClass('black');
			}

			else {
				$('nav').removeClass('black');
			}
		})

		$(function() {
			var duration = 3000; // 3 segundos
			setTimeout(function() {
				$('#mensajeAlerta').hide();
			}, duration);
		});
	</script>
</footer>
</body>
</html>








