<modal th:fragment="modal"
xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<link rel="stylesheet"
		href="https://kendo.cdn.telerik.com/2018.2.620/styles/kendo.bootstrap-v4.min.css">


	<a href="#popup1" class="btn btn-primary">Asignar turno</a>
	<div id="popup1" class="popup">
		<div class="card border-primary text-center">
			<div class="card-header" th:text="'Paciente: '+${paciente.username} +' '+${paciente.apellido}"></div>
			<div class="card-body">

				<form th:action="@{'/paciente/turno/'+${paciente.id}}"
					th:object="${turno}" method="POST">

						<select required th:field="*{terapeuta}" name="terapeuta" >
							<option th:if="${not #lists.isEmpty(terapeutas)}" th:value="null">Elige un Terapeuta</option>
							<option th:if="${#lists.isEmpty(terapeutas)}" th:value="null">El paciente no tiene terapeutas</option>
							<option th:if="${terapeutas}" th:each="terapeuta : ${terapeutas}"  th:value="${terapeuta.id}" th:text="${terapeuta.username}"></option>
						</select>
					
					<div  onclick="validarDatosCompletos();"  class="form-group py-3">
					<input required onclick="validarDatosCompletos();" name="turnos" id="dateTimePicker" placeholder="Elige una fecha"></div>
					
					<div class="form-group">
						<div class="col-sm">
							<input type="submit" onkeyup="validarDatosCompletos();" id="btnEnviar" value="Asignar turno"
								class="btn btn-primary"  disabled="disabled"/>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>


</body><a href="#" class="close-popup"></a> 
</modal>