<modal th:fragment="modal"
xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<link rel="stylesheet"
		href="https://kendo.cdn.telerik.com/2018.2.620/styles/kendo.bootstrap-v4.min.css">


	<a href="#popup1" class="btn btn-primary">Asignar turno</a>
	<div id="popup1" class="popup">
		<a href="#" class="close">&times;</a>
		<div class="card border-primary text-center">
			<div class="card-header" th:text="'Paciente: '+${paciente.username} +' '+${paciente.apellido}"></div>
			<div class="card-body">

				<form th:action="@{'/paciente/turno/'+${paciente.id}}"
					th:object="${paciente}" method="POST">

					<div class="form-group">
					<input name="turnos" id="dateTimePicker" placeholder="Selecciona una fecha"></div>

					<div class="form-group">
						<div class="col-sm">
							<input type="submit" value="Asignar turno"
								class="btn btn-primary" />
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>


</body><a href="#" class="close-popup"></a> 
</modal>