<modal th:fragment="modal"
xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<link rel="stylesheet"
		href="https://kendo.cdn.telerik.com/2018.2.620/styles/kendo.bootstrap-v4.min.css">


	<a href="#popup3" class="btn btn-primary">Asignar terapeuta</a>
	<div id="popup3" class="popup">
		<div class="card border-primary text-center">
			<div class="card-header" th:text="'Paciente: '+${paciente.username} +' '+${paciente.apellido}"></div>
			<div class="card-body">

				<form th:action="@{'/paciente/form/'+${paciente.id}}"
					th:object="${paciente}" method="POST">

						<div class="form-group">
					</div>
					<select required th:field="*{terapeutas}" name="terapeutaId" id="">
						<option selected th:value="null"
							th:text="'Selecciona un terapeuta'">El paciente no tiene
							terapeutas</option>
						<option th:each="terapeuta : ${terapeutasDisponibles}"
							th:value="${terapeuta.id}"
							th:text="${terapeuta.username}+' '+${terapeuta.apellido}"></option>
					</select>
					<div class="form-group">
						<div class="col-sm">
							<input type="submit" value="Asignar terapeuta"
								class="btn btn-primary"/>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>


	</body><a href="#" class="close-popup"></a> 
	

</modal>
