<modal th:fragment="modal"> 

			<a href="#popup2" style="z-index:-999">
			<img th:if="${usuarioFoto!=null}" class="rounded-circle z-depth-0"
            alt="avatar image"
            height="35" th:src="@{'/usuario/foto/'+${usuarioId}}">
			<img th:if="${usuarioFoto == null}" class="rounded-circle z-depth-0"
            alt="avatar image"
            height="35" th:src="@{'/images/fotoDefault'}" >
            </a>
            
<div id="popup2" class="popup">
	<a href="#" class="close">&times;</a>
	<div class="card border-light text-center">
		<div class="card-body">
		
		<div >
								<form id="logoutForm" th:action="@{/logout}" method="POST">
									<button class="button button-primary"
										onclick="document.getElementById('logoutForm').submit"
										type="submit">Salir</button>
								</form>
							</div>
		
			</form>

		</div>
	</div>
</div>
<a href="#" class="close-popup"></a> 

</modal>
