<modal  th:fragment="modal"> 
	<link rel="stylesheet"
		href="https://kendo.cdn.telerik.com/2018.2.620/styles/kendo.bootstrap-v4.min.css">
	
<a href="#popup4"
	class="button button-success">Subir Informe</a>
<div id="popup4" class="popup">
	<div class="card border-primary text-center">
		<div class="card-header"
			th:text="'Paciente: '+${paciente.username} +' '+${paciente.apellido}"></div>
		<div class="card-body">
			<form th:action="@{'/paciente/pdf/'+${paciente.id}}"
				th:object="${paciente}" method="POST" enctype="multipart/form-data">

				<div class="form-group">
					<label for="file">Informe
						(PDF)</label>
					<div class="col-sm">
						<input type="file" name="file" class="form-control" required />
					</div>
				</div>

				<div class="form-group">
					<div>
						<input type="submit" value="Subir Pdf" class="btn btn-primary" />
					</div>
				</div>
			</form>
		</div>

	</div>
</div>
<a href="#" class="close-popup"></a> 
</modal>