<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a sec:authorize="hasRole('ROLE_ADMIN')"
						class="btn btn-primary btn-xs" th:href="@{'/terapeuta/'}"
						th:text="'Crear terapeuta'"></a>
				</h4>
				<div class="container py-4">
					<table class="table table-bordered table-striped my-4">
						<thead class="thead-dark">
							<tr class="text-center">
								<th>Nombre</th>
							</tr>
							<tr class="text-center">
								<th>Apellido</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="terapeuta: ${terapeutas}">
								<td th:text="${terapeuta.username}"></td>
								<td><img th:object="${terapeuta}"
									th:if="${#strings.length(terapeuta.foto)>0}"
									class="img-thumbnail rounded float-left"
									style="max-width: 25%;"
									th:src="@{'/terapeuta/uploads/' + ${terapeuta.foto}}"
									th:alt="${terapeuta.foto}" /></td>
								<td sec:authorize="hasRole('ROLE_ADMIN')"><a
									class="btn btn-danger btn-xs"
									th:href="@{/terapeuta/eliminar/} + ${terapeuta.id}"
									th:text='Dar de baja'
									onclick="return confirm('¿Estás seguro que quieres dar de baja?');"></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</body>
</html>