.button {
    background-color: transparent;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    padding: 10px 30px 8px;
    font-size: 16px;
    font-family: Droid Serif;
    font-weight: 300;
    letter-spacing: 0.2rem;
    line-height: 1;
    text-transform: uppercase;
}
.button:hover{
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

.button-neutral{
    color: #000;
    border-color: #000;
}
.button-neutral:hover{
    color: #fff;
    background-color: #000;
}
.button-danger{
    color: #850100;
    border-color: #850100;
}
.button-danger:hover{
    color: white;
    background-color: #850100;
}
.button-success{
    color: #15852D;
    border-color: #15852D;
}
.button-success:hover{
    color: white;
    background-color: #15852D;
}


.button-primary{
    color: #8C7B74;
    border-color: #8C7B74;
}
.button-primary:hover{
    color: #fff;
    background-color: #8C7B74;
}
