.tales {
	width: 100%;
}

/* .carousel-inner { */
/* 	width: 100%; */
/* 	max-height: 200px !important; */
/* } */

.text{
	text-transform: lowercase;
	right: 63%;
	text-align:center;
	height: 100vh;
	color: white;
	animation: type 4s linear forwards; 
	font-family: cursive;
	letter-spacing: 0.1rem;
	width: 33%;
	opacity:0;
	position: fixed;
}
@keyframes type{ 
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}

} 


header {
      width: 100%;
      height: 100vh;
      background-color: white;
      background: url(/images/fondo1comprimido.jpg)  no-repeat 50% 50%;
      background-size: cover;
      background-attachment: fixed;
}

@media ( max-width : 880px) {
	header{
	background-attachment: initial;
	background: url(/images/fondoTelefono.jpg) no-repeat 50% 37% scale(0.2);
	}
}



.my-flip-inner-wrapper {
	perspective: 150rem;
	-moz-perspective: 150rem;
	position: relative;
}

.my-flip-side {
	display: block;
	height: 600px;
	top: 0;
	right: 0;
	left: 0;
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
	transition: all .8s ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.my-flip-back {
	transform: rotateY(180deg);
	color: #fff;
	position: absolute;
/* 	z-index: -1; */
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
	padding: 46px;
}

.my-flip-side-inmovil {
    display: block;
    height: 450x;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;   
    background: linear-gradient(to right bottom, #FFDECC, white);
}


.my-flip-back-1 {
	background: linear-gradient(to right bottom, #F2C4C4, white);
}

.my-flip-back-2 {
	background: linear-gradient(to right bottom, #F2F1DF, white);
}

.my-flip-back-3 {
	background: linear-gradient(to right bottom, #8C7B74, white);
}

.my-flip-inner-wrapper:hover .my-flip-front {
	transform: rotateY(-180deg);
}

.my-flip-inner-wrapper:hover .my-flip-back {
	transform: rotateY(0);
}

.my-flip-image {
	height: 15rem;
	background-blend-mode: screen;
	clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.my-flip-image img {
	width: 100%;
	height: 100%;
	background-blend-mode: screen;
	object-fit: cover;
}

.my-flip-heading {
	margin: 0 0 15px;
}

.my-flip-heading-inmovil {
	margin: 0 0 5px;
	text-align: center;
	color: #848484;
}

.my-flip-body-inmovil {
	margin: 0 0 5px;
	text-align: center;
	color: #848484;
}

.my-flip-details {
	padding: 2rem;
	margin-bottom:30px;
}

.my-flip-details p {
	font-size: 15px;
	margin: 0;
	line-height: 2;
	color: #848484;
	font-weight:bold;
}

.my-flip-back-inner ul {
	list-style: none;
	margin: 0 0 1.5rem;
	padding: 0;
}

.my-flip-back-text  ul li {
	text-align: center;
	color: #848484;
	font-weight: bold;
	font-size: 1rem;
	padding: 0.8rem 0;
}

.my-flip-back-text-1  ul li {
	text-align: center;
	color: #848484;
	font-weight: bold;
	font-size: 1.2rem;
	padding: 0.8rem 0;
}

.my-flip-back-text2  ul li {
	text-align: center;
	color: #505050;
	font-weight: bold;
	font-size: 1.2rem;
	padding: 0.8rem 0;
}

@media( max-width: 370px) {
	.my-flip-back-text ul li{
		font-size: .96rem;
	}
}
@media screen and ( min-width: 993px) and (max-width : 1200px) {
	.my-flip-back-text ul li{
		font-size: .80rem;
	}
}

@media screen and ( min-width: 2560px){
	.my-flip-back-text ul li{
		font-size: .6vw;
	}
}

.my-flip-back-inner ul li:not (:last-child ) {
	border-bottom: 1px solid #ffffff;
}

.my-flip-price {
	color: #fff;
	text-align: center;
	margin-bottom: 1rem;
}

.my-flip-price h3 {
	font-size: 3rem;
	font-weight: 300;
}

.my-flip-btn-box {
	text-align: center;
}

.my-flip-btn {
	text-transform: uppercase;
	padding: 1rem 1.8rem;
	font-size: 1rem;
	background-color: #fff;
	color: #000;
	border-radius: 10rem;
	display: inline-block;
	transition: all .2s;
	color: initial;
	position: relative;
}

.my-flip-btn:hover {
	transform: translateY(-4px);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	color: #000;
}