*,
*:before,
*:after {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
} 

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  text-align: center;	
  background-size: cover;
  background-repeat: no-repeat;
}
h1,h2,a,p {
/*   font-family: helvetica, sans-serif; */
     font-family: "Helvetica Neue",sans-serif;
}
h1 {
  font-size: 3em;
  text-align: center;
  color: #da4627;
  margin: 0;
  padding: 30vh 0 1em;
}
h2 {
  text-align: center;
  white-space: nowrap;
  color: #80541e;
}
a {
  text-decoration: none;
  color: #fff;
}
/* p { */
/*   text-align: left; */
/* } */
.btn {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #8c3932;
  border-radius: 10px;
  transition: background .3s;
}
.btn:hover {
  background: #56a2e4;
}
.popup {
  position: fixed;
  padding: 10px;
  max-width: 500px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,.9);
  visibility: hidden;
  opacity: 50;
  "delay" the visibility transition
  -webkit-transition: opacity .5s, visibility 0s linear .5s;
  transition: opacity .5s, visibility 0s linear .5s;
  z-index: 9999;
}
.popup:target {
  visibility: visible;
  opacity: 1;
  cancel visibility transition delay
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.popup-close {
  position: absolute;
  padding: 10px;
  max-width: 500px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,.9);
  z-index: 9999;
}
.popup .close {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  color: #000;
  transition: color .3s;
  font-size: 2em;
  line-height: .6em;
  font-weight: bold;
  z-index: 9999;
}
.popup .close:hover {
  color: #80541e;
  z-index: 9999;
}

.close-popup {
  background: rgba(0,0,0,.7);
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  "delay" the visibility transition
  -webkit-transition: opacity .5s, visibility 0s linear .5s;
  transition: opacity 1s, visibility 0s linear .5s;
}
.popup:target + .close-popup{  
  opacity: 1;
  visibility: visible;
  cancel visibility transition delay
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  
}
