@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	font-family: "Helvetica Neue", sans-serif;
	font-weight: lighter;
	background-color: white;
}

header {
	width: 100%;
	height: 15vh;
	background-color: white;
	background-size: cover;
}

.content {
	width: 94%;
	margin: 4em auto;
	font-size: 20px;
	line-height: 30px;
	text-align: justify;
}

.logo {
	text-indent: -9999999px;
    line-height: 60px;
    position: fixed;
    float: left;
    margin-top: -40px;
    margin-left: 40px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    width: 11%;
    height: auto;
}

nav {
	position: fixed;
	width: 100%;
	line-height: 60px;
	z-index: 9999;
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
}

nav ul {
	line-height: 60px;
	list-style: none;
	background: rgba(0, 0, 0, 0);
	overflow: hidden;
	color: #00000;
	padding: 0;
	text-align: right;
	margin: 0;
	padding-right: 40px;
	transition: 1s;
}

nav.black ul {
	background: white;
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 2);
}


nav ul li {
	display: inline-block;
	padding: 16px 40px;;
}

nav ul li a {
	text-decoration: none;
	color: #000;
	font-size: 18px;
}

.menu-icon {
	line-height: 60px;
	width: 100%;
	background: white;
	text-align: right;
	box-sizing: border-box;
	padding: 15px 24px;
	cursor: pointer;
	color: #8C7B74;
	display: none;
}


@media ( max-width : 880px) {
	.logo {
		position: fixed;
   		top: 0;
    	margin-top: -35px;
   		width: 37%;
    	margin-left: auto;
    	z-index: 1;
	}
	nav ul {
		max-height: 0px;
		background: white;
	}
	nav.black ul {
		background: white;
	}
	.showing {
		max-height: 34em;
	}
	nav ul li {
		box-sizing: border-box;
		width: 100%;
		padding: 24px;
		text-align: center;
	}
	.menu-icon {
		display: block;
	}
}