<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
button:disabled:hover {
  background-color: GREY;
  color: #ffff;
  cursor: not-allowed;
  border: 1px solid grey;
}
button:disabled {
  background-color: GREY;
  color: #ffff;
  cursor: not-allowed;
  border: 1px solid grey;
}
</style>
<head th:replace="layout/layout :: head"></head>

<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-body">
				<div th:object="${usuario}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
					<form name="formulario"
						th:action="${usuario.username} ? @{'/usuario/editar/'+${usuario.id}} : @{/usuario/crear}"
						th:object="${usuario}" method="POST" enctype="multipart/form-data">

						<input th:if="${usuario.username}" type="hidden" th:field="*{id}" />
						<input th:if="${usuario.username}" type="hidden" th:field="*{fechaAlta}" />
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Nombre</label>
							<div class="col-sm">
								<input required onkeyup="validarDatosCompletos();" id="username" name="username" type="text" th:field="*{username}" class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('username')}"
									th:errors="*{username}"></small>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Apellido(s)</label>
							<div class="col-sm">
								<input required onkeyup="validarDatosCompletos();" name="apellido" type="text" th:field="*{apellido}" class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('apellido')}"
									th:errors="*{apellido}"></small>
							</div>
						</div>

						<div class="form-group row">
							<label  class="col-sm-2 col-form-label">Correo Electrónico</label>
							<div class="col-sm">
								<input required onkeyup="validarDatosCompletos();" name="email" type="email" th:field="*{mail}" class="form-control"
									th:errorclass="'form-control alert-danger'" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Contraseña</label>
							<div class="col-sm">
								<input required onkeyup="validarDatosCompletos(); check();" type="password" th:field="*{password}"
									class="form-control" name="password" id="password"
									th:errorclass="'form-control alert-danger'" />
								<small class="form-text text-danger"
									th:if="${#fields.hasErrors('password')}"
									th:errors="*{password}"></small>
							</div>

						</div>
						<div class="form-group row">
							<br> <label class="col-sm-2 col-form-label">Confirmar
								contraseña</label>
							<div class="col-sm">
								<input required onkeyup="validarDatosCompletos(); check();" class="form-control" type="password"
									name="confirm_password" id="confirm_password"/>
							</div>
							<span id='message'></span>


						</div>

						<div class="form-group">
							<p>Foto de perfil</p>
							<input type="file" id="subirFoto" name="fotoOriginal"
								accept=".jpg,.jpeg,.png" hidden />
							<button type="button" id="botonFoto"
								onclick="upload()">
								<img th:src="@{/images/iconos/camera.png}" alt="Subir Foto">
								Subir una foto
							</button>
							<div id="mascara"></div>
							<input type="hidden" id="fotoCrop" name="file" />
						</div>

						<div class="form-group" th:unless="${usuario.username}">
							<select name="rol" th:field="*{rol}" class="custom-select" required>
								<option th:value="NULL">Elige un Rol</option>
								<option th:value="ADMINISTRADOR">Administrador</option>
								<option th:value="TERAPEUTA">Terapeuta</option>
								<option th:value="PACIENTE">Paciente</option>
								<option th:value="USUARIO">Usuario</option>
							</select>
						</div>

						<div class="form-group" >
							<div class="col-sm-6">
								<button onkeyup="validarDatosCompletos();" class="button button-primary" type="submit" id="btnEnviar" disabled="disabled"
									>Guardar usuario</button>
							</div>
						</div>


					</form>

				</div>

			</div>

		</div>

	</div>
	<footer th:replace="layout/layout :: footer"></footer>
	<script>
		$(function() {

			var $uploadCrop;

			function readFile(input) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();
					reader.onload = function(e) {

						$uploadCrop.croppie('bind', {
							url : e.target.result
						});
					}
					reader.readAsDataURL(input.files[0]);
				}

				$uploadCrop = $('#mascara').croppie({
					viewport : {
						width : 288,
						height : 288,
						type : 'square'
					},
					boundary : {
						width : 350,
						height : 350
					}
				});

			}

			$('#subirFoto').on('change', function() {
				readFile(this);
			});

			$('#btnEnviar').on('click', function(event) {
				var x = $('#subirFoto').val();
				if (x != "") {
					$uploadCrop.croppie('result', {
						size : 'viewport',
					}).then(function(resp) {
						$('#fotoCrop').val(resp);

					});
				}

			});

		});
	</script>
	<script type="text/javascript">
		function upload() {
			document.getElementById('subirFoto').click();
		}
	</script>

	<script type="text/javascript">
	function validarDatosCompletos(){
		var username = document.getElementById("username").value;
		var email = document.getElementById("mail").value;
		var pass = document.getElementById("password").value;
		var comnfirmarPass = document.getElementById("confirm_password").value;
		var boton = document.getElementById("btnEnviar");
		
		if (username.length == 0 || pass.length == 0 || comnfirmarPass.length == 0 || email	.length == 0){
			boton.innerText = 'Llena todos los campos';
			boton.disabled = true;		
		}else{
			boton.innerText = 'Guardar usuario';
			boton.disabled = false;		
		}
	}
</script>
</body>
</html>