<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-body">
				<div th:object="${paciente}" th:remove="tag">
						<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
							<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
						</ul>
				</div>
				<form th:action="@{/paciente/crear}" th:object="${paciente}"
					method="POST" enctype="multipart/form-data">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Nombre</label>
						<div class="col-sm">
							<input type="text" th:field="*{username}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Apellido</label>
						<div class="col-sm">
							<input type="text" th:field="*{apellido}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Correo Electrónico</label>
						<div class="col-sm">
							<input type="text" th:field="*{mail}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Contraseña</label>
						<div class="col-sm">
							<input type="password" th:field="*{password}"
								class="form-control" name="password" id="password" onkeyup='check();' 
								th:errorclass="'form-control alert-danger'"/> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
						</div>

					</div>
					<div class="form-group row">
						<br> <label class="col-sm-2 col-form-label">Confirmar
							contraseña</label>
						<div class="col-sm">
							<input class="form-control" type="password"
								name="confirm_password" id="confirm_password" onkeyup='check();' />
						</div>
						<span id='message'></span>


					</div>

					<div class="form-group row">
						<label for="file" class="col-sm-2 col-form-label">Foto</label>
						<div class="col-sm">
							<input type="file" name="file" class="form-control" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-6">
							<input type="submit" value="Crear Terapeuta"
								class="btn btn-primary" />
						</div>
					</div>

				</form>

			</div>

		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>