<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Fonoaudiología</title>
<link rel="stylesheet" type="text/css" href="/css/modal.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/map.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/navbar.css}" />
<link rel="stylesheet" th:href="@{/css/cards.css}"/>
<link rel="shortcut icon" th:href="@{/images/logoCorto.png}"/>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<body>
	<div class="wrapper">
		<header>
			<nav>
				<div class="menu-icon">
					<i class="fa fa-bars fa-2x"></i>
				</div>
				
				<a th:href="@{/inicio/}"><img class="logo" th:src="@{/images/logoCompleto.png}"></img></a>
				<div class="menu">
					<ul>
						<li sec:authorize="hasAnyRole('ROLE_PACIENTE')"><a
							th:href="@{'/paciente/ver/'+${usuarioId}}">Mi perfil</a></li>
						<li sec:authorize="hasAnyRole('ROLE_TERAPEUTA')"><a
							th:href="@{'/paciente/listar/'+${usuarioId}}">Mis pacientes</a></li>
						<li sec:authorize="hasRole('ROLE_ADMINISTRADOR')"><a
							th:href="@{/terapeuta/listar}">Terapeutas</a></li>
						<li sec:authorize="hasRole('ROLE_ADMINISTRADOR')"><a
							th:href="@{/turno/listar}">Turnos</a></li>
						<li sec:authorize="hasRole('ROLE_ADMINISTRADOR')"><a
							th:href="@{/usuario/}">Usuarios</a></li>
						<li sec:authorize="!isAuthenticated()"><a href="#bottom">Contacto</a></li>
						<li sec:authorize="!isAuthenticated()"><modal
								th:replace="/modal/login :: modal"></modal></li>
						<li sec:authorize="isAuthenticated()" class="dropdown"><a
							href="#" th:replace="/modal/logout :: modal" role="button"> <span
								sec:authentication="name" ></span>
						</a>
						</li>
					</ul>
				</div>
				
				<div id="mensajeAlerta">
				<div class="alert alert-success" th:if="${success != null}"
				th:text="${success}"></div>
				<div class="alert alert-danger" th:if="${error != null}"
				th:text="${error}"></div>
				<div class="alert alert-warning" th:if="${warning != null}"
				th:text="${warning}"></div>
				<div class="alert alert-info" th:if="${info != null}"
				th:text="${info}"></div>
				</div>
			</nav>
		</header>
		<div class="content"></div>
		</div>
	
	
	
	<div class="container">
<!--    <center class="mt-4 mb-4"> -->
<!--       <h2>¿Qué es la fonoaudiología?</h2> -->
<!--    </center> -->
   <section class="section-tours">
      <div class="row">
         <div class="col-lg-4 mb-4">
            <div class="my-flip-container">
               <div class="my-flip-inner my-flip-right">
                  <div class="my-flip-inner-wrapper">
                     <div class="my-flip-side my-flip-front">
                        <div class="my-flip-image my-flip-image--1">
                           <img src="https://picsum.photos/600/400?random=5">                                 
                        </div>
                        <div class="my-flip-details">
                           <h4 class="my-flip-heading">My Flip Title</h4>
                           <div class="my-flip-text">
                              <p>Lorem ipsum dolor sit amet adipisicing elit sed do eiusmod tempor incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                           </div>
                        </div>
                     </div>
                     <div class="my-flip-side my-flip-back my-flip-back-1">
                        <div class="my-flip-back-inner">
                           <div class="my-flip-price">
                              <h3>$129</h3>
                           </div>
                           <div class="my-flip-back-text">
                              <ul>
                                 <li>All Widgets</li>
                                 <li>Unlimited Section</li>
                                 <li>300 Line Icon</li>
                                 <li>Support 24x7</li>
                                 <li>Updates for 1 year</li>
                              </ul>
                           </div>
                           <div class="my-flip-btn-box"><a href="#0" class="my-flip-btn">Book Now</a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 mb-4">
            <div class="my-flip-container">
               <div class="my-flip-inner my-flip-right">
                  <div class="my-flip-inner-wrapper">
                     <div class="my-flip-side my-flip-front">
                        <div class="my-flip-image my-flip-image--2">
                           <img src="https://picsum.photos/600/400?random=6">                
                        </div>
                        <div class="my-flip-details">
                           <h4 class="my-flip-heading">My Flip Title</h4>
                           <div class="my-flip-text">
                              <p>Lorem ipsum dolor sit amet adipisicing elit sed do eiusmod tempor incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                           </div>
                        </div>
                     </div>
                     <div class="my-flip-side my-flip-back my-flip-back-2">
                        <div class="my-flip-back-inner">
                           <div class="my-flip-price">
                              <h3>$149</h3>
                           </div>
                           <div class="my-flip-back-text">
                              <ul>
                                 <li>All Widgets</li>
                                 <li>Unlimited Section</li>
                                 <li>400 Line Icon</li>
                                 <li>Support 24x7</li>
                                 <li>Updates for 2 year</li>
                              </ul>
                           </div>
                           <div class="my-flip-btn-box"><a href="#0" class="my-flip-btn">Book Now</a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 mb-4">
            <div class="my-flip-container">
               <div class="my-flip-inner my-flip-right">
                  <div class="my-flip-inner-wrapper">
                     <div class="my-flip-side my-flip-front">
                        <div class="my-flip-image my-flip-image--3">
                           <img src="https://picsum.photos/600/400?random=7">                               
                        </div>
                        <div class="my-flip-details">
                           <h4 class="my-flip-heading">My Flip Title</h4>
                           <div class="my-flip-text">
                              <p>Lorem ipsum dolor sit amet adipisicing elit sed do eiusmod tempor incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                           </div>
                        </div>
                     </div>
                     <div class="my-flip-side my-flip-back my-flip-back-3">
                        <div class="my-flip-back-inner">
                           <div class="my-flip-price">
                              <h3>$169</h3>
                           </div>
                           <div class="my-flip-back-text">
                              <ul>
                                 <li>All Widgets</li>
                                 <li>Unlimited Section</li>
                                 <li>500+ Line Icon</li>
                                 <li>Support 24x7</li>
                                 <li>Lifetime Update</li>
                              </ul>
                           </div>
                           <div class="my-flip-btn-box"><a href="#0" class="my-flip-btn">Book Now</a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <div id="bottom"></div>
  </div>
	
	
	<div class="container">
		<map th:replace="/map/map :: mapa"></map>
	</div>
	
	<script>
		$(document).ready(function() {
			$(".menu-icon").on("click", function() {
				$("nav ul").toggleClass("showing");
			});
		});

		// Scrolling Effect

		$(window).on("scroll", function() {
			if ($(window).scrollTop()) {
				$('nav').addClass('black');
			}

			else {
				$('nav').removeClass('black');
			}
		})
	</script>


	<script>
		$(document).ready(function() {
			$(".menu-icon").on("click", function() {
				$("nav ul").toggleClass("showing");
			});
		});

		// Scrolling Effect

		$(window).on("scroll", function() {
			if ($(window).scrollTop()) {
				$('nav').addClass('black');
			}

			else {
				$('nav').removeClass('black');
			}
		})
		$(function () { 
  	  var duration = 3000; // 3 seconds
    	setTimeout(function () { $('#mensajeAlerta').hide(); }, duration);
		});
	</script>

	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>