<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layoutInicio :: head">
<title>Fonoaudiología</title>
</head>
<body>
	<div class="wrapper">
		<header>
			<nav>
				<div class="menu-icon">
					<i class="fa fa-bars fa-2x"></i>
				</div>

				<a th:href="@{/inicio/}"><img alt="comunicacion" class="logo"
					th:src="@{/images/logoCompleto.png}"></img></a>
				<div class="menu">
					<ul>
						<li sec:authorize="hasAnyRole('ROLE_PACIENTE')"><a
							th:href="@{'/paciente/ver/'+${pacienteId}}">Mi perfil</a></li>
						<li sec:authorize="hasAnyRole('ROLE_TERAPEUTA')"><a
							th:href="@{'/turno/turnosTerapeuta/'+${terapeutaId}}">Mis
								turnos</a></li>
						<li sec:authorize="hasAnyRole('ROLE_TERAPEUTA')"><a
							th:href="@{'/paciente/listar/'+${terapeutaId}}">Mis pacientes</a></li>
						<li sec:authorize="hasRole('ROLE_ADMINISTRADOR')"><a
							th:href="@{/terapeuta/listar}">Terapeutas</a></li>
						<li sec:authorize="hasRole('ROLE_ADMINISTRADOR')"><a
							th:href="@{/turno/listar}">Turnos</a></li>
						<li sec:authorize="hasRole('ROLE_ADMINISTRADOR')"><a
							th:href="@{/usuario/listar}">Usuarios</a></li>
						<li sec:authorize="!isAuthenticated()"><a
							href="https://wa.me/5212223717805/?text=Hola, tengo una consulta:" class="button button-success">Contacto</a></li>
						<li sec:authorize="!isAuthenticated()"><a
							th:replace="modal/login :: modal"></a></li>
						<li sec:authorize="isAuthenticated()" class="dropdown"><a
							href="#" th:replace="modal/logout :: modal" role="button"></a></li>
					</ul>
				</div>

				<div id="mensajeAlerta">
					<div class="alert alert-success" th:if="${success != null}"
						th:text="${success}"></div>
					<div class="alert alert-danger" th:if="${error != null}"
						th:text="${error}"></div>
					<div class="alert alert-warning" th:if="${warning != null}"
						th:text="${warning}"></div>
					<div class="alert alert-info" th:if="${info != null}"
						th:text="${info}"></div>
				</div>
			</nav>
			<h1 class="text">Ser fonoaudiologa es... escuchar una lágrima, articular una emoción, 
			vocalizar un deseo, leer el alma, escribir una sonrisa.</h1>
		</header>
		<div class="content"></div>
	</div>



	<div class="container">
		<section class="section-tours">
			<div class="row">
				<div class="col-lg-4 mb-4">
					<div class="my-flip-container">
						<div class="my-flip-inner my-flip-right">
							<div class="my-flip-inner-wrapper">
								<div class="my-flip-side my-flip-front">
									<div class="my-flip-image my-flip-image--1">
										<img alt="comunicacion" loading="lazy" src="/images/nino.jpg">
									</div>
									<div class="my-flip-details">
										<h4 class="my-flip-heading">¿Qué es la Fonoaudiología?</h4>
										<div class="my-flip-text">
											<p>Especialidad que se dedica a establecer o reestablecer
												las habilidades y funciones de la comunicación.</p>
												<div class="my-flip-btn-box">
											<a  class="my-flip-btn" style="background-color:#ECD0C0;">Ver mas</a>
										</div>
										</div>
									</div>
								</div>
								<div class="my-flip-side my-flip-back my-flip-back-1">
									<div class="my-flip-back-inner">
										<div class="my-flip-price">
<!-- 											<h3>Mas detalle</h3> -->
										</div>
										<div class="my-flip-back-text-1">
											<ul>
												<li>Somos un equipo interdiciplonario que aborda el
													estudio y tratamiento de los procesos de la comunicación humana en las áreas de:
													habla, lenguaje, lectoescritura, voz, audición y fonoestomatología. Nuestro trabajo es de promoción,
													prevención, evaluación, diagnóstico, tratamiento e investigación tanto en consultorio como en 
													el ambiente educativo.</li>
													

											</ul>
										</div>
										<!-- 										<div class="my-flip-btn-box"> -->
										<!-- 											<a href="#0" class="my-flip-btn">Book Now</a> -->
										<!-- 										</div> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mb-4">
					<div class="my-flip-container">
						<div class="my-flip-inner my-flip-right">
							<div class="my-flip-inner-wrapper">
								<div class="my-flip-side my-flip-front">
									<div class="my-flip-image my-flip-image--2">
										<img alt="comunicacion" loading="lazy" src="/images/comunicacion3.jpg">
									</div>
									<div class="my-flip-details">
										<h4 class="my-flip-heading">Áreas de atención</h4>
										<div class="my-flip-text">
											<p>Presencial o a distancia.</p> 
											<p>Abordamos las diferentes areas que integran la comunicación humana
											en sus variantes: comprensiva y expresiva. Desde el nacimiento en adelante.</p>
											<div class="my-flip-btn-box">
											<a class="my-flip-btn" style="background-color:#ECD0C0;">Ver mas</a>
										</div>
										</div>
									</div>
								</div>
								<div class="my-flip-side my-flip-back my-flip-back-2">
									<div class="my-flip-back-inner">
										<!-- 										<div class="my-flip-price"> -->
										<!-- 											<h3></h3> -->
										<!-- 										</div> -->
										<div class="my-flip-back-text">
											<ul>
												<li>Niños: dificultades para comunicarse (fluidez,
													pronunciación o articulación, estructuración del lenguaje
													y/o de la voz). Hábitos orales (succión, deglución,
													respiración bucal, etc). Deficiencias motoras y cognitivas.
													Anormalidades de nacimiento (fisura labiopalatina). Fallas
													sensoriales auditivas.</li>
												<li>Adultos: secuelas de ACV (dificultades cognitivas,
													deglución, afasia, trastornos del habla, etc). Patologías
													de la voz (difonía, afonía, etc).</li>
											</ul>
										</div>
										<div class="my-flip-btn-box">
											<a href="#bottom" class="my-flip-btn">Tengo mas dudas</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mb-4">
					<div class="my-flip-container">
						<div class="my-flip-inner my-flip-right">
							<div class="my-flip-inner-wrapper">
								<div class="my-flip-side my-flip-front">
									<div class="my-flip-image my-flip-image--3">
										<img alt="comunicacion" loading="lazy" src="/images/comunicacion1.jpg">
									</div>
									<div class="my-flip-details">
										<h4 class="my-flip-heading">¿Cómo comienzo?</h4>
										<div class="my-flip-text">
											<p>La evaluación: el primer contacto imprescindible para
												establecer un diagnóstico y elaborar un plan de trabajo.</p>
												<div class="my-flip-btn-box">
											<a class="my-flip-btn" style="background-color:#ECD0C0;">Ver mas</a>
										</div>
										</div>
									</div>
								</div>
								<div class="my-flip-side my-flip-back my-flip-back-3">
									<div class="my-flip-back-inner">
										<div class="my-flip-price">
											<!-- 											<h3>Primer contacto</h3> -->
										</div>
										<div class="my-flip-back-text2">
											<ul>
												<li>El primer diagnóstico permite elaborar un plan de
													trabajo individual y exclusivo a cada paciente. Se toma en
													consideración los antecedentes médicos, hábitos e historia
													personal evolutiva, para aunarlos con los resultados
													obtenidos del proceso evaluativo. Planteando asi un camino
													de recuperación ajustado a las necesidades específicas de
													cada paciente.</li>
											</ul>
										</div>
										<div class="my-flip-btn-box">
											<a
												href="https://wa.me/5212223717805/?text=Hola, quisiera información acerca de la terapia."
												class="my-flip-btn">Consultar</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section>
			<div class="col-lg-12 mb-12">
					<div class="my-flip-container">
						<div class="my-flip-inner my-flip-right">
							<div class="my-flip-inner-wrapper-inmovil">
								<div class="my-flip-side-inmovil my-flip-front">
									<div class="my-flip-details">
									<h4 class="my-flip-heading-inmovil">Más de 30 años (15 en México)</h4>
										<h6 class="my-flip-body-inmovil">Avalan nuestro trabajo</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</section>
	</div>
		<carousel th:replace="galeria/carousel"></carousel>
<div id="bottom"></div>
	<div class="container">
		<map th:replace="map/map :: mapa"></map>
	</div>

	<hr />
	<div class="container">

		<p style="text-align: center;" sec:authorize="isAuthenticated()">
			Usuario logeado: <span sec:authentication="name"></span> | Roles: <span
				sec:authentication="principal.authorities"></span>
		</p>
	</div>

		<table style="margin: 0 auto; text-align: center;" align="center">
			<tbody>
				<tr>
					<td><span class="linee"><img width="30" height="5"
							src="{{view url='images/sosmed/line-email.jpg'}}" alt="" /></span></td>

				</tr>
				<tr>

					<td style="padding-top: 10px; padding-bottom: 20px;"><span
						style="font-weight: 500; line-height: 1.2; font-size: 14px; color: #454545; text-transform: uppercase;">Fabrizio
							Pratici</span><br /> <span
						style="font-weight: 500; line-height: 1.2; font-size: 14px; color: #818181; text-transform: capitalize;">Desarrollo
							web</span></td>
				</tr>
			</tbody>
		</table>

		<table style="margin: 0 auto; text-align: center;">
			<tr>
				<td style="padding: 0 5px;"><a
					href="mailto:fabpratici@gmail.com"><img width="30" height="30"
						src="/images/mail.png" alt="Contacto" /></a></td>
		</table> 
		<footer th:replace="layout/layout :: footer"> </footer>
		<script>
		$('.carousel').carousel({
			  interval: 5000
			})
		</script>
		
</body>

</html>