<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<h1 class="card-header" th:text="${titulo}"></h1>
			<div class="card-body">
				<div class="container py-4">
					<a th:if="${paciente}" class="btn btn-primary btn-xs"
						th:href="@{'/turno/listarFuturos/'+${paciente.id}}"
						th:text="'Turnos próximos'"></a> 
					<a th:unless="${paciente}"
						class="btn btn-primary btn-xs" th:href="@{'/turno/listarFuturos'}"
						th:text="'Turnos próximos'"></a>
						
					<a th:if="${paciente}"
						class="btn btn-primary btn-xs"
						th:href="@{'/turno/listarAnteriores/'+${paciente.id}}"
						th:text="'Turnos anteriores'"></a> 
					<a th:unless="${paciente}"
						class="btn btn-primary btn-xs"
						th:href="@{'/turno/listarAnteriores'}"
						th:text="'Turnos anteriores'"></a> 
					
					<a th:if="${paciente}"
						class="btn btn-primary btn-xs"
						th:href="@{'/turno/listar/'+${paciente.id}}"
						th:text="'Todos los turnos'"></a> 
					<a th:unless="${paciente}"
						class="btn btn-primary btn-xs" th:href="@{'/turno/listar'}"
						th:text="'Todos los turnos'"></a>
					
					<div class="alert alert-info my-4"
						th:if="${#lists.isEmpty(turnos)}"
						th:text="'No hay turnos registrados en la base de datos'"></div>
					<div class="py-4">
					<table class="table table-hover">
					<tbody>
					<tr th:each="turno: ${turnos}">
								<td th:if="${paciente}" 
								th:text="${#dates.format(turno.fechaTurno, 'dd/MMMM/yyyy HH:mm')}"></td>
								<td th:unless="${paciente}" 
								th:text="${#dates.format(turno.fechaTurno, 'dd/MMMM/yyyy HH:mm')} +' - '+${turno.paciente.username}+' '+${turno.paciente.apellido}"></td>
								<td sec:authorize="hasRole('ROLE_ADMIN')"><a
									class="btn btn-danger btn-xs"
									th:href="@{'/turno/eliminar/'+${turno.id}}"
									th:text='Eliminar'
									onclick="return confirm('¿Estás seguro que quieres eliminar?');"></a>
								</td>
							</tr>
					</tbody>
					</table>

					<div class="py-2" th:object="${paciente}">
						<h4 class="card-title">
							<a th:if="${paciente}" class="btn btn-primary btn-xs"
								th:href="@{'/paciente/ver/'+${paciente.id}}"
								th:text="'Volver a paciente'"></a> 
							<a th:unless="${paciente}"
								class="btn btn-primary btn-xs" th:href="@{'/'}"
								th:text="'Volver'"></a>
						</h4>
					</div>

				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>