<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<style>
.button-xs:before {
	content: 'Eliminar';
}

@media all and (max-width: 900px) and (min-width:400px) {
	h1 {
		width: 100%;
		display: block;
	}
	.button {
		width: 100%;
		display: block;
	}
	.button-xs:before {
		content: 'x';
	}
}

@media all and (max-width: 399px) {
	h1 {
		width: 100%;
		display: block;
	}
	.button {
		width: 100%;
		display: block;
	}
	.button-xs {
		width: 100%;
	}
	.button-xs:before {
		width: 40%;
		content: 'x';
	}
	.chico {
		width: 110%;
	}
}
</style>

<head th:replace="layout/layout :: head"></head>
<link rel="stylesheet" href="/css/uikit.min.css" />
<script src="/js/uikit.min.js"></script>
<script src="/js/uikit-icons.min.js"></script>

<body>
	<header th:replace="layout/layout :: header"></header>
	<div th:if="${#httpServletRequest.requestURI != '/turno/turnosTerapeuta/__${terapeutaId}__'}" class="uk-child-width-expand@s uk-text-center " uk-grid>
		<div>
			<div class="uk-card uk-card-default uk-card-body"><a th:if="${paciente}" class="button button-primary btn-xs mx-2"
			th:href="@{'/turno/listarFuturos/'+${paciente.id}}">Turnos
			próximos</a> <a th:unless="${paciente}"
			class="button button-primary btn-xs  mx-2"
			th:href="@{'/turno/listarFuturos'}" th:text="'Turnos próximos'"></a></div>
		</div>
		<div>
			<div class="uk-card uk-card-default uk-card-body"><a th:if="${paciente}" class="button button-primary btn-xs mx-2 "
			th:href="@{'/turno/listarAnteriores/'+${paciente.id}}"
			th:text="'Turnos anteriores'"></a> <a th:unless="${paciente}"
			class="button button-primary  mx-2"
			th:href="@{'/turno/listarAnteriores'}" th:text="'Turnos anteriores'"></a></div>
		</div>
		<div>
			<div class="uk-card uk-card-default uk-card-body"><a th:if="${paciente}" class="button button-primary btn-xs mx-2"
			th:href="@{'/turno/listar/'+${paciente.id}}"
			th:text="'Todos los turnos'"></a> <a th:unless="${paciente}"
			class="button button-primary  mx-2" th:href="@{'/turno/listar'}"
			th:text="'Todos los turnos'"></a> </div>
		</div>
		<div>
			<div class="uk-card uk-card-default uk-card-body"><a th:if="${paciente}"
			class="button button-danger mx-2"
			th:href="@{'/turno/listarEliminados/'+${paciente.id}}"
			th:text="'Turnos eliminados'"></a> <a th:unless="${paciente}"
			class="button button-danger "
			th:href="@{'/turno/listarEliminados'}"
			th:text="'Turnos eliminados'"></a></div>
		</div>
	</div>


	<h1 th:if="${#httpServletRequest.requestURI == '/turno/listar'}"
		style="color: #80541e; font-family: proxima-nova;"
		class="card-header chico py-2" th:text="${titulo}"></h1>
	<h1 th:unless="${#httpServletRequest.requestURI == '/turno/listar'}"
		style="color: #80541e; font-family: proxima-nova;"
		class="card-header py-2" th:text="${titulo}"></h1>
	<div class="alert alert-info my-4 " th:if="${#lists.isEmpty(turnos)}"
		th:text="'No hay turnos registrados en la base de datos'"></div>
	<div class="py-4 ">
		
		<table th:if="${!#lists.isEmpty(turnos)}" class="table table-hover ">
			<thead>
				<tr class="text-center ">
					<th th:if="${paciente}">Fecha</th>
					<th th:if="${paciente}">Terapeuta</th>
					<th th:if="${paciente}"><h7
							th:if="${#httpServletRequest.requestURI == '/turno/listarEliminados/__${paciente.id}__'}">Cancelado
						por motivo:</h7> <h7
							th:if="${#httpServletRequest.requestURI == '/turno/listarFuturos/__${paciente.id}__'}">Acción:</h7>
						<h7
							th:if="${#httpServletRequest.requestURI == '/turno/listarAnteriores/__${paciente.id}__'}">Acción:</h7>
						<h7
							th:if="${#httpServletRequest.requestURI == '/turno/listar/__${paciente.id}__'}">Acción:</h7>
					</th>


					<th th:unless="${paciente}">Fecha</th>
					<th th:unless="${paciente}">Paciente</th>
					<th th:unless="${paciente}">Terapeuta</th>
					<th th:unless="${paciente}"><h7
							th:if="${#httpServletRequest.requestURI == '/turno/listarEliminados'}">Cancelado
						por motivo:</h7> <h7
							th:if="${#httpServletRequest.requestURI == '/turno/listarFuturos'}">Acción</h7>
						<h7
							th:if="${#httpServletRequest.requestURI == '/turno/listarAnteriores'}">Acción</h7>
						<h7 th:if="${#httpServletRequest.requestURI == '/turno/listar'}">Acción</h7>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="turno: ${turnos}">
					<td class="text-center " th:if="${paciente}"
						th:text="${#dates.format(turno.fechaTurno, 'dd/MMMM/yyyy HH:mm')}">
					<td class="text-center " th:if="${paciente}"
						th:text="${turno.terapeuta.username}+' '+${turno.terapeuta.apellido}">
					<td class="text-center " th:unless="${paciente}"
						th:text="${#dates.format(turno.fechaTurno, 'dd/MMMM/yyyy HH:mm')}">
					<td class="text-center " th:unless="${paciente}"
						th:text="${turno.paciente.username}+' '+${turno.paciente.apellido}">
					<td class="text-center " th:unless="${paciente}"
						th:text="${turno.terapeuta.username}+' '+${turno.terapeuta.apellido}">
					<td class="text-center " th:if="${turno.eliminado}"
						th:text="${turno.observacion}"></td>

					<td class="text-center"
						sec:authorize="hasRole('ROLE_ADMINISTRADOR')"><a
						th:if="${!turno.eliminado}"
						class="button button-danger button-xs "
						th:href="@{'/turno/eliminar/'+${turno.id}}"></a></td>


				</tr>
			</tbody>
		</table>

		<div class="py-2 " th:object="${paciente}">
			<h4 class="card-title ">
				<a th:if="${paciente}" class="button button-primary "
					th:href="@{'/paciente/ver/'+${paciente.id}}"
					th:text="'Volver a paciente'"></a> <a th:unless="${paciente}"
					class="button button-primary chico" th:href="@{'/'}"
					th:text="'Volver'"></a>
			</h4>
		</div>

	</div>
	<footer th:replace="layout/layout :: footer"></footer>





</body>

</html>