<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<h1 class="card-header" th:text="${titulo}"></h1>
			<div class="card-body">
				<div class="container py-4">
					<a th:if="${paciente}" class="btn btn-primary btn-xs"
						th:href="@{'/turno/listarFuturos/'+${paciente.id}}"
						th:text="'Turnos próximos'"></a> 
					<a th:unless="${paciente}"
						class="btn btn-primary btn-xs" th:href="@{'/turno/listarFuturos'}"
						th:text="'Turnos próximos'"></a>
						
					<a th:if="${paciente}"
						class="btn btn-primary btn-xs"
						th:href="@{'/turno/listarAnteriores/'+${paciente.id}}"
						th:text="'Turnos anteriores'"></a> 
					<a th:unless="${paciente}"
						class="btn btn-primary btn-xs"
						th:href="@{'/turno/listarAnteriores'}"
						th:text="'Turnos anteriores'"></a> 
					
					<a th:if="${paciente}"
						class="btn btn-primary btn-xs"
						th:href="@{'/turno/listar/'+${paciente.id}}"
						th:text="'Todos los turnos'"></a> 
					<a th:unless="${paciente}"
						class="btn btn-primary btn-xs" th:href="@{'/turno/listar'}"
						th:text="'Todos los turnos'"></a>
						
					<a th:if="${paciente}"
						class="btn btn-danger btn-xs"
						th:href="@{'/turno/listarEliminados/'+${paciente.id}}"
						th:text="'Todos los turnos eliminados'"></a> 
					<a th:unless="${paciente}"
						class="btn btn-danger btn-xs" th:href="@{'/turno/listarEliminados'}"
						th:text="'Todos los turnos eliminados'"></a>
					
					<div class="alert alert-info my-4"
						th:if="${#lists.isEmpty(turnos)}"
						th:text="'No hay turnos registrados en la base de datos'"></div>
					<div class="py-4">
					<table th:if="${!#lists.isEmpty(turnos)}" class="table table-hover">
					<thead>
						<tr class="text-center">
								<th th:if="${paciente}">Fecha</th>
								<th th:if="${paciente}">Terapeuta</th>
								<th th:if="${paciente}"><h4 th:if="${#httpServletRequest.requestURI == '/turno/listarEliminados/'+{paciente.id}}"></h4>Cancelado por motivo:</th>
								
								<th th:unless="${paciente}">Fecha</th>
								<th th:unless="${paciente}">Paciente</th>
								<th th:unless="${paciente}">Terapeuta</th>
								<th th:unless="${paciente}"><h4 th:if="${#httpServletRequest.requestURI == '/turno/listarEliminados'}"></h4>Cancelado por motivo:</th>
							
							</tr>
					</thead>
					<tbody> 
					<tr th:each="turno: ${turnos}">
								<td class="text-center" th:if="${paciente}"
								th:text="${#dates.format(turno.fechaTurno, 'dd/MMMM/yyyy HH:mm')}">
								<td class="text-center" th:if="${paciente}"
								th:text="${turno.terapeuta.username}+' '+${turno.terapeuta.apellido}">
								
								<td class="text-center" th:unless="${paciente}" 
								th:text="${#dates.format(turno.fechaTurno, 'dd/MMMM/yyyy HH:mm')}">
								<td class="text-center" th:unless="${paciente}"
								th:text="${turno.paciente.username}+' '+${turno.paciente.apellido}">
								<td class="text-center" th:unless="${paciente}"
								th:text="${turno.terapeuta.username}+' '+${turno.terapeuta.apellido}">
								
								<td class="text-center" th:if="${turno.eliminado}"
								th:text="${turno.observacion}"></td>
								
								<td class="text-center" sec:authorize="hasRole('ROLE_ADMINISTRADOR')"><a
									th:if="${!turno.eliminado}" class="btn btn-danger btn-xs"
									th:href="@{'/turno/eliminar/'+${turno.id}}"
									th:text='Eliminar'
									></a>
								</td>
							</tr>
					</tbody>
					</table>

					<div class="py-2" th:object="${paciente}">
						<h4 class="card-title">
							<a th:if="${paciente}" class="btn btn-primary btn-xs"
								th:href="@{'/paciente/ver/'+${paciente.id}}"
								th:text="'Volver a paciente'"></a> 
							<a th:unless="${paciente}"
								class="btn btn-primary btn-xs" th:href="@{'/'}"
								th:text="'Volver'"></a>
						</h4>
					</div>

				</div>
			</div>
		</div></div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>