<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-body">
				<form th:action="@{'/paciente/pdf/'+${paciente.id}}"
					th:object="${paciente}" method="POST" enctype="multipart/form-data">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Nombre paciente</label>
						<div class="col-sm-6">
							<input disabled="disabled" type="text" th:field="*{username}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
						</div>
					</div>
					<div class="container py-4">
						<div class="row row-cols-1 row-cols-md-3">
							<div th:if="${pdf.eliminado!=true}"
								th:each="pdf : ${paciente.pdf}" class="col mb-4">
								<div class="card h-100 text-center " style="width: 18rem;">
									<h3 th:text="'Informe:'" class="card-img-top"></h3>
									<div class="card-body">
										<p class="card-text">
											<a class="btn btn-info"
												th:href="@{'/paciente/listado/pdf/' + ${pdf.nombre}(format=pdf)}"
												th:text="${#strings.substringAfter(pdf.nombre,'___')}"
												target="_blank"></a>
										</p>
									</div>
									<div class="card-footer">
										 <a
											sec:authorize="hasRole('ROLE_ADMIN')"
											class="btn btn-danger btn-xs"
											th:href="@{/paciente/pdf/eliminar/} + ${pdf.id}"
											th:text="'Eliminar informe'"
											onclick="return confirm('¿Estás seguro que quieres eliminar el informe?');"></a>
									</div>
								</div>
							</div>
						</div>




							<!-- 						<div style="padding: 20px"> -->
							<!-- 							<embed type="application/pdf" th:src="@{'/archivos/' + ${pdf}}" -->
							<!-- 								style="width: 50%; height:620px;" ></embed> -->
							<!-- 						</div> -->
						</div>

						<!-- 										<div> -->
						<!-- 											<iframe -->
						<!-- 												src="/Users/fabriziopratici/Documents/workspace-spring-tool-suite-4-4.5.1.RELEASE/Consultorio/archivos/5e61d836-c486-403e-ad46-fb7fec949f59_ATM_LBB935.pdf" -->
						<!-- 												style="width: 100%; height: 700px;"></iframe> -->
						<!-- 										</div> -->
				</form>
			</div>
		</div>
	</div>
</body>
</html>