<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" th:href="@{/css/cardsPdf.css}" />
<head th:replace="layout/layout :: head"></head>

<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<style>
.my_profile {
	float: left;
	width: 100%;
	margin: 20px 0;
}

.pro_left_ii .nav-tabs>li.active>a {
	background: #80541e;
	border: none;
	color: #fff;
	border: 1px solid #80541e;
}

.pro_left_ii  .nav-tabs>li>a {
	border: 1px solid #e3e3e3;
}

.my_profile .media-body, .my_profile h4, .my_profileh5 {
	width: 100%;
}
</style>
<style>
.img {
  z-index: -1;
}
</style>	

<header th:replace="layout/layout :: header"></header>




<div class="container">
	<div class="my_profile">
		<div class="col-md-3">
			<div class="well" style="background: #fff;">
				<div class="media text-center">
					<div class="media-center media-bottom">

						<img th:if="${paciente.foto} != null"
							th:src="@{'/paciente/foto/'+${paciente.id}}" class="media-object"
							style="width: 90px; margin: 0 auto;">
					</div>
					<div class="media-body">
						<ul class="nav nav-tabs  nav-stacked"
							style="width: 100%; display: block;">
							<li style="font-size: 180%;"
								th:text="${paciente.username}+' '+${paciente.apellido}"></li>
							<br>
							<li class="active">Paciente</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="well pro_left_ii" style="background: #fff;">
				<ul class="nav nav-tabs  nav-stacked"
					style="width: 100%; display: block;">
					<li class="active"><a data-toggle="tab" href="#home">TERAPEUTAS</a></li>
					<li><a data-toggle="tab" href="#menu1">TURNOS/CITAS</a></li>
					<li><a data-toggle="tab" href="#menu2">INFORMES</a></li>
				</ul>

			</div>


		</div>
		<div class="col-md-9">
			<div class="tab-content">
				<div id="home" class="tab-pane fade in active">
					<div class="form-group pass_show">
						<a sec:authorize="hasRole('ROLE_ADMINISTRADOR')"
							th:replace="modal/asignarTerapeuta :: modal"></a>
					</div>
					<div class="well" style="background: #fff;">
						<h4>Terapeuta(s)</h4>
						<hr th:each="terapeuta : ${paciente.terapeutas}"
							th:text="${terapeuta.username}+' '+${terapeuta.apellido} ">
						<label></label>
					</div>
				</div>
				<div id="menu1" class="tab-pane fade">

					<div class="form-group pass_show">
						<a sec:authorize="hasRole('ROLE_ADMINISTRADOR')"
							class="card-title px-4" th:replace="modal/asignarTurno :: modal"></a>
					</div>
					<div class="well" style="background: #fff;">

						<h4>Turnos</h4>
						<div class="alert alert-info my-4"
							th:if="${#lists.isEmpty(turnos)}"
							th:text="'No hay turnos próximos'"></div>
						<hr th:each="turno : ${turnos}"
							th:text="'Próximo turno: '+ ${#dates.format(turno, 'dd/MM/yyyy HH:mm')}">

						<label></label>


					</div>
					<div class="form-group pass_show">
						<a class="button button-primary"
							th:href="@{'/turno/listar/'+${paciente.id}}"
							th:text="'Ver todos los turnos'"></a>
					</div>


				</div>
				<div id="menu2" class="tab-pane fade">
<!-- 					<div class="form-group pass_show"> -->
<!-- 						<a sec:authorize="hasRole('ROLE_ADMINISTRADOR')" -->
<!-- 							class="button button-success" -->
<!-- 							th:href="@{'/paciente/pdf/'+${paciente.id}}" -->
<!-- 							th:text="'Subir informe'"></a> -->
<!-- 					</div> -->
					<div class="form-group pass_show">
						<a sec:authorize="hasRole('ROLE_ADMINISTRADOR')"
							class="card-title px-4"
							th:replace="modal/subirPdf :: modal"
							></a>
					</div>

					<section class="section-tours">
						<input type="hidden" name="idPaciente" id="idPaciente"
							th:field="*{id}" />
						<div class="row">
							<div  th:if="${pdf.eliminado!=true}"
								th:each="pdf : ${paciente.pdf}" class="col-lg-4 mb-4">
								
								<div class="my-flip-container">
								
									<div class="my-flip-inner my-flip-right">
										<div class="my-flip-inner-wrapper">
											<div style="height: 500x;" class="my-flip-side my-flip-front">
												<div class="my-flip-image my-flip-image--1">
													<img style="z-index:-999" th:if="${#strings.endsWith(pdf.nombre,'pdf')}"
														th:src="@{/images/pdf.png}"> <img
														th:if="${#strings.endsWith(pdf.nombre,'doc')}"
														th:src="@{/images/doc.jpg}">
														<img
														th:if="${#strings.endsWith(pdf.nombre,'docx')}"
														th:src="@{/images/doc.jpg}">
												</div>
												<div class="my-flip-details">
													<h4 style="color: #5d5d5e; font-family: proxima-nova;"
														class="my-flip-heading"></h4>
													<div class="my-flip-text text-center">
														<p></p>
														<a style="z-index:999" th:if="${#strings.endsWith(pdf.nombre,'pdf')}"
															th:href="@{'/paciente/listado/pdf/' + ${pdf.nombre}(format=pdf)}"
															th:text="${#strings.substringAfter(pdf.nombre,'_')}"
															target="_blank" class="button button-primary"></a> <a
															th:if="${#strings.endsWith(pdf.nombre,'doc')}"
															th:href="@{'/paciente/listado/pdf/' + ${pdf.nombre}(format=doc)}"
															th:text="${#strings.substringAfter(pdf.nombre,'_')}"
															target="_blank" class="button button-primary"></a>
															<a
															th:if="${#strings.endsWith(pdf.nombre,'docx')}"
															th:href="@{'/paciente/listado/pdf/' + ${pdf.nombre}(format=doc)}"
															th:text="${#strings.substringAfter(pdf.nombre,'_')}"
															target="_blank" class="button button-primary"></a>
															 <a
															sec:authorize="hasRole('ROLE_ADMINISTRADOR')"
															class="button button-danger" style="margin: 10%;"
															th:href="@{'/paciente/pdf/eliminar/' + ${pdf.id} +'/'+ ${paciente.id}}"
															th:text="'Eliminar informe'"
															onclick="return confirm('¿Estás seguro que quieres dar de baja?');"></a>
													</div>
												</div>
											</div>


										</div>
									</div>
								</div>
							</div>
							<div class="container">
								<h4 class="card-title">
									<a class="button button-primary" th:href="@{'/'}"
										th:text="'Volver al inicio'"></a>
								</h4>
							</div>
						</div>
					</section>


				</div>
			</div>

		</div>

	</div>
</div>


<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
<script
	src="https://kendo.cdn.telerik.com/2018.2.620/js/kendo.all.min.js"></script>
<script>
	$(document).ready(function() {
		$('#dateTimePicker').kendoDateTimePicker();
	});
</script>
<footer th:replace="layout/layout :: footer"></footer>
<script type="text/javascript">
	function validarDatosCompletos() {
		var dateTimePicker = document.getElementById("dateTimePicker").value;
		var boton = document.getElementById("btnEnviar");

		if (dateTimePicker == "") {
			boton.innerText = 'Llena todos los campos';
			boton.disabled = true;
		} else {
			boton.innerText = 'Guardar usuario';
			boton.disabled = false;
		}
	}
</script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"
	integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk="
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css"
	integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg="
	crossorigin="anonymous" />
<script>
	$(document).ready(function() {
		$('select').selectize({
			sortField : 'text'
		});
	});
</script>
</body>

</html>