<map th:fragment="mapa">

	<!--Section: Contact v.1-->
	<section class="section pb-5">

		<!--Section heading-->
		<h2 style="color: #8C7870;"
			class="section-heading h1 pt-4">Contáctanos</h2>
		<!--Section description-->
		<p class="section-description pb-4"></p>

		<div class="row">

			<!--Grid column-->
			<div class="col-lg-5 mb-4">

				<!--Form with header-->
				<div class="card">

					<div class="card-body">
						<!--Header-->
						<div class="form-header blue accent-1">
							<h3>
								<i></i> Escríbenos
							</h3>
						</div>

						<p>Nos pondremos en contacto contigo en breve.</p>
						<br>
						<form method="POST" th:object="${usuarioConsulta}" th:action="@{/formulario}">
							<div class="md-form">
								<i></i> <input th:field="*{nombre}" type="text" id="form-name"
									class="form-control"> <label for="form-name">Nombre</label>
							</div>

							<div class="md-form">
								<i></i> <input th:field="*{telefono}" type="number"
									id="form-telefono" class="form-control"> <label
									for="form-telefono">Teléfono</label>
							</div>

							<div class="md-form">
								<i></i> <input th:field="*{email}" type="email" id="form-email"
									class="form-control"> <label for="form-email">Correo
									electrónico</label>
							</div>

							<div class="md-form">
								<i></i> 
								<textarea th:field="*{consulta}" id="form-text" class="form-control md-textarea"
									rows="3"></textarea>
								 <label for="form-text">Consulta</label>
							</div>

							<div class="text-center mt-4">
								<button type="submit" class="button button-primary">Enviar</button>
							</div>
						</form>
					</div>

				</div>

			</div>
			<!--Grid column-->

			<!--Grid column-->
			<div class="col-lg-7">

				<!--Google map-->
				<div id="map-container-google-11"
					class="z-depth-1-half map-container-6" style="height: 400px">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d280.30601739241723!2d-98.2441698132573!3d19.049082240571465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc71f90e54f77%3A0x81149bb89043beba!2sAshram%20Puebla!5e0!3m2!1ses-419!2sar!4v1584362264454!5m2!1ses-419!2sar"
						frameborder="0" style="border: 0" allowfullscreen></iframe>
				</div>

				<br>
				<!--Buttons-->
				<div class="row text-center">
					<div class="col-md-4">
						<a class="btn-floating blue accent-1">
							</a>
						<p>Puebla, CP 72170</p>
						<p>México</p>
					</div>

					<div class="col-md-4">
						<a class="btn-floating blue accent-1"></a>
						<p>Tel. 22 23 71 78 05</p>
						<p>Lunes - Viernes, 8:00-19:00</p>
					</div>

					<div class="col-md-4">
						<a class="btn-floating blue accent-1"><i
							></i></a>
						<p>marcela_mateu@hotmail.com</p>
					</div>
				</div>

			</div>
			<!--Grid column-->

		</div>

	</section>
	<!--Section: Contact v.1-->

</map>